*{
    margin: 0;
    padding: 0;
   
}

#container{
    height: 100vh;
    width: 100%;
    background-color: rgb(170, 18, 120);
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.panel{

    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    
    background-color: darksalmon;
    border: 1px solid;
    border-color: darkolivegreen;
    border-radius: 10px;
    padding-left: 2px;
    cursor: pointer;

}
.accordion{
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center;
}

.arrow{
    font-size:x-large;
    padding-right: 4px;
}
.content{
    height: 40px;
    display: none;
    align-items: center;
    padding-left: 2px;
    border-top: 1px solid;
    border-color: darkolivegreen;

    

}
